<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />    
    <script src="{{ url_for('static', path='/js/three.js') }}"></script>
    <link href="{{ url_for('static', path='/map.css') }}" rel="stylesheet">
</head>
<body>
    <div id="map"></div>
    <script>
        var client_id = Date.now()
        var ws = new WebSocket(`ws://188.166.2.247/v1/ws/${client_id}`);
        ws.binaryType = "arraybuffer";
        function popupPic(popup, cloudId, description, predictions) {
            ws.send(cloudId);
            ws.onmessage = function(event) {
                var table = '<table>';
                for (i in predictions) {
                    if (predictions[i] > 70){
                        table += `<rd><td><strong>${i}</strong></td><td><strong>${predictions[i]}</strong></td></tr>`
                    } else {
                        table += `<rd><td>${i}</td><td>${predictions[i]}</td></tr>`
                    }

                }
                table += '</table>';

                console.log("[message] Data received from server:");    
                const arrayBuffer = event.data;
                var imageData = 'data:image/jpg;base64,' + arrayBuffer;                
                popup.setHTML(`${table}\n<canvas width="0" height="0" id="cloud-${cloudId}"></canvas>`);   
                popup.setMaxWidth("none"); 
                var canvas = document.getElementById(`cloud-${cloudId}`);
                var ctx = canvas.getContext('2d');
                var image = new Image(0, 0);
                image.src = imageData;
                image.onload = drawImageActualSize; 
                function drawImageActualSize() {
                    if (this.naturalHeight > this.naturalWidth) {
                        canvas.width = 170;
                        canvas.height = 170*this.naturalHeight/this.naturalWidth;
                        ctx.drawImage(this, 0,0,170, 170*this.naturalHeight/this.naturalWidth);
                    } else {
                        canvas.width = 170*this.naturalWidth/this.naturalHeight;
                        canvas.height = 170;    
                        ctx.drawImage(this, 0,0,170*this.naturalWidth/this.naturalHeight, 170);

                    }                     
                }
            };            
        }
        var map = new maplibregl.Map({
        container: 'map',
        style:
        'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
        center: [38.978504,55.805789],
        zoom: 11.15
        });
        map.on('load', function () {
            map.loadImage(
                'https://maplibre.org/maplibre-gl-js-docs/assets/custom_marker.png',
                // Add an image to use as a custom marker
                function (error, image) {
                    if (error) throw error;
                    map.addImage('custom-marker', image);
                    
                    map.addSource('places', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': [{% for userCloud in userClouds %}
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                        '<p>Дата съемки: {{ userCloud.date }}</p>\n',
                                        'cloudId': '{{ userCloud.id }}',
                                        'predictions': {{ userCloud.cloudType | tojson }}
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [{% for key, value in userCloud.location.items()|reverse %}{{value}}+({{ range(1, 10) | random }}/100000){{ "," if not loop.last }}{% endfor %}]
                                    }
                                },{% endfor %}
                            ]
                        }
                    });    
                    // Add a layer showing the places.
                    map.addLayer({
                        'id': 'places',
                        'type': 'symbol',
                        'source': 'places',
                        'layout': {
                        'icon-image': 'custom-marker',
                        'icon-allow-overlap': true
                        }
                    });
                }
            );
            // Create a popup, but don't add it to the map yet.
            var popup = new maplibregl.Popup({
                closeButton: false,
                closeOnClick: false
            });
            map.on('mouseenter', 'places', function (e) {
                // Change the cursor style as a UI indicator.
                map.getCanvas().style.cursor = 'pointer';
                
                var coordinates = e.features[0].geometry.coordinates.slice();
                var description = e.features[0].properties.description;
                var predictions = JSON.parse(e.features[0].properties.predictions);
                var cloudId = e.features[0].properties.cloudId;
                
                // Ensure that if the map is zoomed out such that multiple
                // copies of the feature are visible, the popup appears
                // over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }
                popup.setLngLat(coordinates).addTo(map);
                popupPic(popup, cloudId, description, predictions)
            });
            map.on('mouseleave', 'places', function () {
                map.getCanvas().style.cursor = '';
                popup.remove();
            });
        });
    </script>
</body>
</html>


