<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />    
    <link href="{{ url_for('static', path='/map.css') }}" rel="stylesheet">
</head>
<body>
    <div>
        <table>
            {% for userCloud in userClouds %}
            <tr>
                <td>{{ userCloud.id }}</td>
                <td><p>
                    {% for key, value in userCloud.location.items() %}
                        {{value}}
                        {{ "," if not loop.last }}
                    {% endfor %}
                </p></td>
                <td>{{ userCloud.date }}</td>
            </tr>            
            {% endfor %}
        </table>
        <div>
            <p>
            \n
            {{ id }}
            \n
            {{ request }}
            </p>>
        </div>
    </div>

    <div id="map"></div>
    <script>
    var map = new maplibregl.Map({
    container: 'map',
    style:
    'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
    center: [38.978504,55.805789],
    zoom: 11.15
    });
    
    map.on('load', function () {
        map.loadImage(
            'https://maplibre.org/maplibre-gl-js-docs/assets/custom_marker.png',
            // Add an image to use as a custom marker
            function (error, image) {
                if (error) throw error;
                map.addImage('custom-marker', image);
                
                map.addSource('places', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': [{% for userCloud in userClouds %}
                            {
                                'type': 'Feature',
                                'properties': {
                                    'description':
                                    '<strong>userCloudID: {{ userCloud.id }}</strong><p>DATE: {{ userCloud.date }}</p>'
                                },
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': [{% for key, value in userCloud.location.items()|reverse %}{{value}}+({{ range(1, 10) | random }}/100000){{ "," if not loop.last }}{% endfor %}]
                                }
                            },{% endfor %}
                        ]
                    }
                });    
                // Add a layer showing the places.
                map.addLayer({
                    'id': 'places',
                    'type': 'symbol',
                    'source': 'places',
                    'layout': {
                    'icon-image': 'custom-marker',
                    'icon-allow-overlap': true
                    }
                });
            }
        );
        
        // Create a popup, but don't add it to the map yet.
        var popup = new maplibregl.Popup({
            closeButton: false,
            closeOnClick: false
        });
        
        map.on('mouseenter', 'places', function (e) {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';
            
            var coordinates = e.features[0].geometry.coordinates.slice();
            var description = e.features[0].properties.description;
            
            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }
            
            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates).setHTML(description).addTo(map);
        });
        
        map.on('mouseleave', 'places', function () {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
    });
    </script>
    
</body>
</html>


