

body{
  background: #4E535B;
  font-family:'Open Sans', Arial, sans-serif;
  font-size: 1em;
  margin: 0px 0px 0px;
}

.header{
  background: #b3e5fc;
  width: 100%;
  height: 80px;
  position: static;
  margin: 0px 0px 20px;
}


.case{
  text-align: center;
}
h1{
  font-size: 1.6em;
  margin-top: 30px;
  margin-bottom: 10px;
}
h2{
  text-align: center;
  color: #F1F2F4;
  text-shadow: 0 1px 0 #000;
}
.logo{
  width: 50px;
  height: 50px;
}

.login{
 position: relative;
 left: 25%;
 line-height: 2px;
 width: 300px;
 max-width: 50%;
 height: 250px;
 max-height: 42%;

}

.input{
  width: 100%;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: #71747A;
  font-family:'Open Sans', Arial, sans-serif;
  text-shadow: 0 1px 0 #FFF;
}


input{
  width: 100%;
}


button{
  margin-top: 20px;
  top: 25%
  width: 50%;
  display: block;
  width: 100%;
  background: rgba(114,212,202,1);
  border-radius: 5px;
  border:0;
  cursor: pointer;
  color: #FFFFFF;

}
button:hover{
 background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);
}
button:active{
  box-shadow: inset 0 0 5px #000;
  background: linear-gradient(to bottom, rgba(57,175,154,1) 0%,rgba(107,198,186,1) 100%);
}
